<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Django3</title>
        <link rel="stylesheet" href="{% static 'css/app3_style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h3>It is a small project on user accounts</h1>
                <h4>Here comes the list:</h2>
            </div>
        </div>
        <div class="container">
            <div class="userstable">
                {% if users_records %}
                <table>
                    <thead>
                        <th>User First Name</th>
                        <th>User Last Name</th>
                        <th>Email</th>
                    </thead>
                    {% for rec in users_records %}
                    <tr>
                        <td>{{ rec.first_name }}</td>
                        <td>{{ rec.last_name }}</td>
                        <td>{{ rec.email }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <p>NO USER RECORDS FOUND</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>
